* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
#header {
  padding-top: 10px;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
}
.logo img {
  max-width: 60%;
}
.logo {
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
.cart {
  margin-top: 19px;
  display: flex;
  justify-content: flex-end;
}
.cart i {
  font-size: 18px;
}
.use {
  padding: 0 10px;
}
.textHotile {
  margin-top: 23px;
}
.text-center {
  text-align: center;
}
#tab p {
  font-size: 20px;
  font-weight: 400px;
}
.slider img {
  max-width: 100%;
}
.fa-magnifying-glass {
  margin-left: 20px;
}

.container-menu {
  width: 1200px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: center;
  justify-items: center;
}
#main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#main-menu li a {
  display: block;
  padding: 18px 30px;
  display: flex;
}
#tab li {
  position: relative;
  margin: 0 21.5px;
}
.sub-menu li a {
  display: block;
  padding: 18px 20px;
  text-decoration: none;
}
#main-menu {
  border-top: 0.5px solid #8585851a;
}

#main-menu ul.sub-menu {
  position: absolute;
  background: white;
  list-style: none;
  width: 200px;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  display: none;
}
#main-menu li:hover > ul.sub-menu {
  display: block;
}
#main-menu ul.sub-menu a {
  padding: 15px;
  border-bottom: 1px solid rgb(206, 202, 202);
}
#main-menu ul.sub-menu li:last-child a {
  border: none;
}
#main-menu ul.sub-menu li:hover a {
  color: firebrick;
}
/*thiết lập border khi hover*/
#main-menu > li > a {
  position: relative;
}
#main-menu > li > a::before {
  content: "";
  height: 4px;
  width: 0px;
  background: red;
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#main-menu > li:hover > a::before {
  width: 100%;
}
#main-menu > li.has-child::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f107";
  color: #858585;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 20px 0;
}
.headerall {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1200;
  background: white;
}
/* .slider{
  margin-top: 200px;
} */
.slidershow {
  width: 100%;
}

.navigation {
  position: absolute;
  top: 650px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bar {
  width: 20px;
  height: 20px;
  border: 2px solid rgb(165, 159, 159);
  border-radius: 30px;
  margin: 10px;
  cursor: pointer;
}

.bar:hover {
  background: #fff;
  transition: 0.6s;
  border: 2px solid red;
}

input[name="bottom"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 100%;
  display: flex;
  height: 100%;
}

.slide {
  width: 20%;
  transition: 0.6s;
  margin-top: 100px;
}

#bottom_1:checked ~ .s1 {
  margin-left: 0;
}
#bottom_2:checked ~ .s1 {
  margin-left: -20%;
}
#slider-banner {
  margin-top: 127px;
}
.slick-arrow {
  position: absolute;
  color: rgb(54, 49, 49);
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
  z-index: 1000;
  cursor: pointer;
  transition: 0.25s ease-out;
  border: none;
  outline: none;
}
.slick-arrow:hover {
  opacity: 1;
}
#slider-banner .slick-prev {
  left: 1%;
}
#slider-banner .slick-next {
  right: 1%;
}
.slick-dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex !important;
  gap: 0 0.5rem;
}
.slick-dots li button {
  border: none;
  outline: none;
  font-size: 0;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  margin: 0 0.2rem;
  background-color: gray;
  transition: 0.25s ease-out;
}
.slick-dots .slick-active button {
  background-color: firebrick;
}
li {
  list-style: none;
}
#new_product {
  padding: 50px;
}
#new_product h2 {
  letter-spacing: 1.5px;
}
#new_product a {
  letter-spacing: 1px;
}
.viewallcat a {
  padding: 0 10px;
}
.viewallcat {
  margin-top: 10px;
}
#product_card .slick-prev {
  top: 40%;
  left: -50px;
  box-shadow: 0 2px 10px rgb(54 54 54 / 50%);
}
#product_card .slick-next {
  right: -50px;
  box-shadow: 0 2px 10px rgb(54 54 54 / 50%);
  top: 40%;
}
.product_card_img img {
  max-width: 100%;
  max-height: 100%;
}
.product_card_text {
  padding: 10px;
}
.product_card_text h3 {
  font-size: 14px;
  color: #858585;
  margin-bottom: 5px;
  letter-spacing: 2px;
}
.product_card_text h4 {
  font-size: 14px;
  color: rgb(44, 42, 42);
  margin-bottom: 5px;
  letter-spacing: 2px;
}

.middle {
  text-align: center;
  padding-bottom: 20px;
}
.btn {
  position: relative;
  background: none;
  border: 1px solid#000;
  text-transform: uppercase;
  padding: 15px 5px;
  min-width: 200px;
  margin: 10px;
  border-radius: 2px;
  transition: color 0.4s linear;
  outline: none;
  cursor: pointer;
  background-color: black;
  color: white;

  letter-spacing: 1.5px;
}
.btn:hover {
  color: black;
  background-color: white;
  transition: 0.5s;
}
#product_portfolio {
  padding-top: 30px;
  padding-bottom: 70px;
}
.product_portfolio_img {
  overflow: hidden;
}

.product_portfolio_img img {
  max-width: 100%;
  max-height: 100%;
}
#product_portfolio h2 {
  margin: 10px 0;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 3px;
  color: #fff;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 31%);
}
.btn_portfolio {
  margin-top: -150px;
}
.btn1 {
  position: relative;
  background: none;
  border: 1.5px solid white;
  text-transform: uppercase;
  padding: 12px 12px;
  min-width: 150px;
  transition: color 0.4s linear;
  outline: none;
  cursor: pointer;
  background-color: white;
  color: black;
  font-weight: 500;
  letter-spacing: 1.5px;
}
.btn1:hover {
  color: white;
  background: none;
  transition: 0.5s;
  background-color: black;
}
#product_card_3 {
  margin-top: -40px;
}
.magazine_img img {
  width: 100%;
  height: 100%;
}
#magazine h2 {
  padding: 10px 0;
  font-size: 16px;
}
#magazine p {
  font-size: 16px;
  letter-spacing: 0.5px;
}
#magazine {
  padding-bottom: 20px;
}
.magazine_img {
  overflow: hidden;
}
/**/
#footer {
  background-color: rgba(204, 204, 204, 0.247);
  margin-top: 10px;
}
.footer_logo {
  padding: 30px 0;
}
.footer_logo img {
  max-width: 100%;
  max-height: 100%;
}
.text_footer i {
  margin-right: 10px;
}
.text_footer {
  padding: 10px 0;
}
.text_footer p {
  line-height: 25px;
  font-size: 14px;
  padding: 3px 0;
  letter-spacing: 0.5px;
}
strong {
  padding-left: 20px;
  font-weight: 400;
}
.text_footer h3 {
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 30px;
}
.text_footer input {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  width: 100%;
  padding: 0 10px;
  outline: none;
  background: white;
  border: 1px solid transparent;
  margin-bottom: 8px;
  border-radius: 2px;
  color: #858585;
  margin-top: 10px;
}
.text_footer .btn {
  margin: 0;
  min-width: 100%;
  border-radius: 2px;
  padding: 12px 20px;
}
.icon img {
  min-width: 17.8%;
  padding-top: 5px;
  padding-right: 4px;
}

.slider__main img {
  max-width: 100%;
}
/* #slider-banner {
  padding-top: 70px;
} */
/* Danh sách sản phẩm */
.banner_ao img {
  max-width: 100%;
  max-height: 100%;
}
.tab_ao #main-menu li .aocss {
  color: red;
}
.tab_ao #main-menu > li:nth-child(1).has-child::after {
  color: red;
}
.banner_ao {
  padding-top: 125px;
}
#sort_cate {
  padding: 10px;
}
#sort_cate ul {
  display: flex;
}
#sort_cate ul input {
  margin: 0 10px;
  color: red;
  margin-top: 1px;
}
#sort_cate ul li {
  font-size: 14px;
}
#sort_cate ul li p {
  font-size: 14px;
  font-weight: 600;
}

/*pagination_container*/
.pagination_container {
  float: left;
  width: 100%;
  margin: 10px 0;
  text-align: center;
  margin-bottom: 50px;
}
.pagination_container a {
  padding: 5px 10px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
.pagination_container a:nth-child(1) {
  background-color: white;
  color: black;
  border: 1px solid#000;
  padding: 4px 9px;
  cursor: not-allowed;
}
.pagination_container a:nth-child(2) {
  background-color: #dc4e3f;
}
.pagination_container .hovera:hover {
  background-color: #dc4e3f;
  transition: 0.5s;
}
.pagination_container .hovera:hover .blacka {
  background-color: black;
}
.product_card_container {
  padding-top: 20px;
  border-top: 0.5px solid #85858525;
}
/*Chi tiết sản phẩm*/

#path {
  padding-top: 17px;
}
.text_path i {
  padding: 0 5px;
}
#path .grid {
  padding: 15px;
  border-top: 1px solid #85858525;
  border-bottom: 0.5px solid #85858525;
}
.text_path a:last-child {
  color: #dc4e3f;
}
.text_path a:nth-child(1):hover {
  color: #dc4e3f;
  font-weight: 600;
}
.text_path a:nth-child(3):hover {
  color: #dc4e3f;
  font-weight: 600;
}
#details_product {
  padding: 30px 0;
}
.details_product_img img {
  max-width: 100%;
}
.details_product_img1 {
  padding: 10px 0;
}
.details_product_img1 img {
  max-width: 100%;
  max-height: 129px;
}
#details_product h2 {
  font-size: 26px;
  line-height: 29px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
}
#details_product h3 {
  font-size: 24px;
  font-weight: 500;
  color: #1c1c1c;
  display: inline-block;
  padding: 5px 0;
}
#details_product p {
  font-size: 14px;
  font-weight: 500;
}
#details_product p span {
  color: #dc4e3f;
}
.hong {
  
  border: 1px solid #85858525;
  margin-left: 35px;
  padding: 4px;
}
.xanh {
  
  border: 1px solid#000;
  margin-left: 5px;
  padding: 4px;
}
.mausac {
  display: flex;
  padding-top: 20px;
}
.mausac p {
  line-height: 46.44px;
}
.size {
  display: flex;
  padding: 15px 0;
}
.size a {
  padding: 5px 10px;
  border: 1px solid#000;
  text-decoration: none;
  margin: 5px;
}
.size a:nth-child(2) {
  margin-left: 63px;
}
.size p {
  line-height: 40px;
}
.soluong {
  display: flex;
}
.soluong a {
  padding: 5px 10px;
  border-top: 1px solid#85858546;
  border-bottom: 1px solid#85858546;
  text-decoration: none;
}
.soluong a:nth-child(2) {
  border-left: 1px solid#85858546;
  margin-left: 36px;
}
.soluong a:nth-child(4) {
  border-right: 1px solid#85858546;
}
.soluong p {
  line-height: 30px;
}
.btn_mua button {
  color: #fff;
  background-color: #d02626;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.2px;
  height: auto;
  line-height: inherit;
  box-shadow: none;
  padding: 15px 30px;
  min-width: 350px;
  border: none;
  border-radius: 0;
  margin: 20px 0;
}
.btn_mua button:hover {
  background: #dc4e3f;
}
.imgsize {
  max-width: 100%;
}
.textphone {
  padding-top: 15px;
}
.textphone p {
  letter-spacing: 1px;
}
#details_product p .spanphone {
  letter-spacing: 0.5px;
  color: #00b0f0;
}
.item_service img {
  width: 35px;
  height: 35px;
}
.service_details {
  padding-top: 10px;
}
.item_service {
  display: flex;
  padding: 5px 0;
}
.item_service h4 {
  font-size: 14px;
  line-height: 35px;
  text-transform: uppercase;
  font-weight: 400;
  color: #1c1c1c;
  margin-left: 20px;
}
.item_service strong {
  padding: 0;
  font-weight: 500;
}
#tabs_title {
  border-bottom: 1px solid#85858546;
}
#tabs_title .mota {
  padding: 10px;
  border-bottom: 2px solid #000;
  color: #dc4e3f;
}
#tabs_title .chinhsach {
  padding: 10px;
  color: black;
}
#tabs_title .chinhsach:hover {
  border-bottom: 2px solid black;
  color: #dc4e3f;
}
#detail p {
  padding: 15px 0;
}
#detail ul li {
  list-style: disc inside;
  margin-bottom: 15px;
}
.home-title h2 {
  font-size: 26px;
  line-height: 28px;
  margin: 0;
  font-weight: 350;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  padding: 30px 0 50px 0;
}
.home-title strong {
  padding: 0;
  font-weight: 500;
}
.related_products {
  padding-bottom: 30px;
}
/* Giỏ Hàng */
.shopping_card_img img {
  max-width: 100%;
}
#shopping_card h3 {
  font-size: 26px;
  line-height: 28px;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  padding-top: 30px;
}
#shopping_card h3 span {
  font-size: 14px;
}
.box_info_product {
  float: left;
}
.col_right {
  align-items: center;
}
.quantity_block a {
  padding: 5px 10px;
  border: 1px solid#85858546;
  text-decoration: none;
  margin-left: -5px;
}
.col_right {
  padding: 15px 0;
  border-bottom: 1px solid#85858546;
}
.col_right1 {
  padding-top: 19px;
  border: none;
}
.fee {
  padding: 15px 0;
  border-bottom: 0.5px solid#85858523;
}
.fee p {
  font-weight: 500;
}
.fee strong {
  float: right;
  font-weight: 500;
}
.totals_price {
  color: #dc4e3f;
  font-size: 22px;
  font-weight: 700;
}
.cart_submit .fee:nth-child(2) {
  border: none;
  padding: 17px 0;
}
.btn_card button {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.42857;
  user-select: none;
  border-radius: 0;
  border: 1px solid #1c1c1c;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  z-index: 1;
  -webkit-tap-highlight-color: initial;
  color: #fff;
  height: 50px;
  white-space: nowrap;
  outline: none !important;
  width: 100%;
  background-color: #000;
}
.btn_card button:hover {
  background-color: #fff;
  color: #1c1c1c;
  border-color: #1c1c1c;
  transition: 0.5s;
}
.btn_card .btn-proceed button {
  background-color: white;
  color: black;
}
.btn_card .btn-proceed button:hover {
  background-color: #000;
  color: #fff;
  border-color: #1c1c1c;
  transition: 0.5s;
}
#path .text_path .path_card:hover {
  font-weight: normal;
}
.action a {
  color: #dc4e3f;
}
.action:hover a {
  text-decoration: underline;
}
.name:hover a {
  color: #dc4e3f;
}

/*thong tin nhan hang */
#information {
  /* padding: 0em 2em 0 2em; */
  margin-top: 165px;
}
.information_logo img {
  max-width: 48%;
}
.information_logo {
  padding-bottom: 20px;
}
.layout-flex {
  display: flex;
  padding-bottom: 5px;
  justify-content: space-between;
}

.layout-flex a {
  float: right;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.layout-flex a i {
  font-size: 20px;
  padding-right: 4px;
}
.layout-flex a:hover {
  color: #dc4e3f;
}
.discount_code .field input {
  width: 200px;
}
.field input {
  border-radius: 4px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 0.94em 0.8em;
  border: 1px #d9d9d9 solid;
  height: 44px;
  background-color: #fff;
  color: #333;
}
.section_content .field:last-child input {
  height: 60px;
}
.field {
  padding: 5px 0;
}
.layout-flex1 {
  padding-bottom: 5px;
}
.alert {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin-top: 4px;
  margin-bottom: 35px;
  width: 100%;
}
.content_box {
  border-radius: 4px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 0.94em 0.8em;
  border: 1px #d9d9d9 solid;
  height: 51px;
  background-color: #fff;
  color: #333;
}
.radio_wrapper {
  display: flex;
  justify-content: space-between;
}
.radio_wrapper p {
  font-size: 14px;
  margin-left: 15px;
  margin-top: -18px;
}
.radio_wrapper i {
  color: #2a9dcc;
  font-size: 20px;
}
.space {
  height: 100px;
  border-bottom: 1px solid #e1e1e1;
}
.space1 {
  height: 100px;
}
.sidebar {
  margin-top: -32px;
  color: #717171;
  position: relative;
  width: 100%;
  bottom: 0;
  background: #fafafa;
}
.sidebar_header {
  border-bottom: 1px solid #e1e1e1;
  padding-top: 20px;
  padding-bottom: 20px;
}
.product-thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  background: #fff;
  position: relative;
}
.product-thumbnail__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}
.product-thumbnail__wrapper img {
  max-width: 100%;
}
.product-thumbnail__quantity {
  font-size: 0.78em;
  white-space: nowrap;
  padding: 0 0.62em;
  border-radius: 2em;
  background-color: #000;
  color: #fff;
  position: absolute;
  right: -0.9em;
  top: -0.55em;
  z-index: 3;
  box-sizing: border-box;
  min-width: 1.75em;
  height: 1.75em;
  text-align: center;
  line-height: 1.75em;
}
.product__description {
  padding-left: 1em;
  font-weight: 500;
  color: #333;
  padding-top: 0;
  padding-bottom: 0;
  width: 300px;
}
.product {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  /* flex-wrap: wrap; */
  max-width: 100%;
}
/* .product:last-child {
  padding-bottom: 10px;
} */

.product1 {
  display: flex;
  align-items: center;
  padding: 20px 0;
}
.product__description p {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.product__price {
  font-size: 13px;
}
.discount_code {
  padding: 10px 0;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.spinner-label {
  cursor: pointer;
  display: inline-block;
  background-color: #000;
  border-color: #000;
  background-clip: border-box;
  box-sizing: border-box;
  border: 1px transparent solid;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  padding: 12px 24px;
  text-align: center;
  position: relative;
  font-size: 14px;
}
.spinner-label:hover {
  background-color: #fff;
  border-color: #000;
  color: #000;
  transition: 0.3s;
}
.total_line {
  padding: 10px 0;
  border-bottom: 1px solid #e1e1e1;
}
.total_line p {
  padding: 5px 0;
  font-size: 14px;
}
.total_line span {
  float: right;
}
.total_line p:last-child {
  font-style: italic;
  font-weight: bold;
}
.total p {
  padding: 10px 0;
  font-size: 16px;
}
.total strong {
  font-size: 18px;
  color: #dc4e3f;
  float: right;
}
.order {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 100px;
}
.order p a {
  font-size: 12px;
  color: #2a9dcc;
}
.order i {
  padding-right: 5px;
}
.order p a:hover {
  color: #225179;
}
.order span {
  float: right;
}
#login h1 {
  font-size: 26px;
  line-height: 28px;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  padding: 25px 0 15px 0;
}
.social_login img {
  border: 0 none;
  max-width: 100%;
  height: auto;
  padding: 10px;
}
.form_group label {
  font-weight: 500;
  letter-spacing: 1.5px;
  font-size: 12px;
  text-transform: uppercase;
  align-items: center;
}
.form_group label span {
  font-size: 13px;
  color: red;
}
.form_group input {
  background: #f7f7f7;
  height: 50px;
  padding: 0 15px;
  border: 1px solid transparent;
  outline: none;
  box-shadow: none;
  display: block;
  width: 100%;
  min-height: 40px;
  font-size: 1em;
  line-height: 1.5;
  color: #55595c;
  margin: 0;
  border-radius: 3px;
  margin: 10px 0 20px 0;
}
#login .btn_card button {
  max-width: 290px;

  letter-spacing: 1.2px;
}
#login h5 {
  padding-top: 15px;
  color: #dc4e3f;
  display: block;
  font-weight: 500;
  font-size: 14px;
}
#login h5:hover {
  color: #1c1c1c;
}
#login p {
  padding: 20px 0 30px 0;
  margin-bottom: 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.2px;
}
#login p a {
  color: #dc4e3f;
}
#login p a:hover {
  color: #1c1c1c;
}
.fix-sblock {
  font-size: 14px;
  line-height: 24px;
  color: #333;
  letter-spacing: 0.5px;
  margin-top: -10px;
  margin-bottom: 10px;
}
.registration {
  margin-bottom: 50px;
}
.magazine_mobile {
  display: none;
  align-items: center;
}
.magazine_mobile a:hover {
  color: #dc4e3f;
}
.count_item_pr {
  height: 15px;
  line-height: 20px;
  background: #1c1c1c;
  color: #fff;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  min-width: 16px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  position: absolute;

  margin-left: -8px;
  margin-top: -8px;
}
/* css tạp chí*/
.evo_article {
  text-align: center;
  margin-top: 30px;
}
.evo_article h1 {
  font-size: 26px;
  line-height: 28px;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #1c1c1c;
}
.evo_article .postby {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  margin-top: 15px;
  color: #676767;
}
.article-details {
  margin-top: 50px;
}
.article-details p {
  word-wrap: break-word;
  margin: 0 0 15px 0;
}
.article-details p img {
  width: 960px;
  height: 961px;
}
.evo-article-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px;
  color: #fff;
  background-color: #1c1c1c;
}
.evo-article-toolbar-right a {
  color: white;
}
.evo-article-toolbar-right {
  text-align: center;
}
.evo-article-toolbar-head {
  font-weight: 500;
  margin-right: 5px;
}
.evo-article-toolbar-title {
  font-weight: 100;
}
.evo-article-toolbar {
  margin-bottom: 50px;
}
.separator {
  display: inline-block;
  position: relative;
  content: "";
  width: 1px;
  height: 12px;
  margin: 0 18px;
  background: rgba(255, 255, 255, 0.8);
  vertical-align: middle;
}
.fa-chevron-right:before {
  content: "\f054";
  font-size: 14px;
}
.evo-article-toolbar-right a:hover {
  color: #dc4e3f;
}
/* css danh sách sản phẩm */
#evo-list-blog-page {
  margin-top: 30px;
}
#evo-list-blog-page h2 {
  font-size: 14px;
  padding: 10px 0;
}
#evo-list-blog-page p {
  font-size: 14px;
  padding-bottom: 20px;
}
/* hover chi tiết sản phẩm */

.product_card1 {
  position: relative;
}
.product_card1 form {
  position: absolute;
  left: 0;
  bottom: -50px;
  opacity: 0;
  transition: 0.25s ease-out;
  width: 100%;
  height: 50px;
}
.product_card1:hover.product_card1 form {
  bottom: 0;
  opacity: 1;
}

.product-card__actions {
  position: absolute;
  width: 100%;
  height: 50px;
  font-weight: 500;
  border: 1px solid #1c1c1c;
  background: #fff;
  line-height: 50px;
}
.product-card__actions a {
  position: absolute;
  width: 100%;
  height: 50px;
  text-align: center;
}
.product-card__actions:hover {
  background: #1c1c1c;
  transition: 0.3s;
}
.product-card__actions:hover a {
  color: #fff;
  font-weight: 500;
}
.product_card1:hover .product_card_text {
  opacity: 0;
}

/* hover */
.product_card_img :hover {
  transition: all 0.3s;
  transform: scale(1.05);
  opacity: 0.5;
}
.product_portfolio_img:hover img {
  transform: scale(1.1);
  transition: 0.5s;
}
#new_product a:hover {
  color: #dc4e3f;
}
.magazine_img:hover img {
  transform: scale(1.1);
  transition: 0.5s;
}
.magazine_hover:hover h2 {
  color: #dc4e3f;
}
.cart_submitmobile {
  display: none;
}

#product_card_ds .product_card1 form {
  height: 70px;
}
/*reponsive */
@media (min-width: 740px) and (max-width: 1023px) {
  .article-details p img {
    max-width: 500px;
    max-height: 500px;
  }
  .evo-article-toolbar {
    font-size: 12px;
  }
  #product_card_ds .product_card1 form {
    padding-top: 25px;
  }
  #header {
    padding-bottom: 10px;
    margin-bottom: 0;
  }

  #main-menu li a {
    padding: 10px 20px;
    font-size: 12px;
  }
  #main-menu > li.has-child::after {
    top: -10px;
    right: 5px;
  }
  .textHotile {
    font-size: 12px;
  }
  .cart {
    font-size: 12px;
    margin-top: 5px;
  }
  #slider-banner {
    margin-top: 56px;
    padding-top: 0;
  }
  .btn {
    font-size: 10px;
    padding: 10px;
    letter-spacing: 0.5px;
  }
  #main-menu ul.sub-menu {
    width: 150px;
    font-size: 10px;
  }

  .btn_portfolio {
    margin-top: -115px;
    margin-left: 25px;
  }
  #product_portfolio h2 {
    font-size: 15px;
    letter-spacing: 0px;
  }
  .btn1 {
    font-size: 10px;
    padding: 6px 6px;
    min-width: 91px;
  }
  .middle {
    padding: 0px;
  }
  .viewallcat a {
    font-size: 12px;
  }
  #product_portfolio {
    padding-bottom: 30px;
  }
  .magazine12 {
    display: none;
  }
  .text_footer p {
    line-height: 15px;
    font-size: 12px;
    padding: 2px 0;
    letter-spacing: 0;
  }
  .text_footer h3 {
    padding-bottom: 10px;
  }
  .icon img:last-child {
    display: none;
  }
  .icon img {
    width: 25px;
    min-width: 22.8%;
    padding-top: 5px;
    padding-right: 1px;
  }
  .logo img {
    max-width: 95%;
  }
  #new_product {
    padding: 50px 0 30px 0;
  }
  .banner_ao {
    padding-top: 55px;
  }
  #path {
    padding-top: 55px;
  }
  .text_path {
    font-size: 12px;
  }
  .product_card_text h3 {
    font-size: 12px;
  }
  .product_card_text h4 {
    font-size: 12px;
  }
  .product_card1 form {
    height: 30px;
    bottom: -30px;
    margin-top: -50px;
  }
  .product-card__actions {
    height: 30px;
    line-height: 30px;
  }
  .product-card__actions a {
    height: 30px;
    font-size: 12px;
  }
  .product_card1:hover .product-card__actions {
    margin-top: -30px;
  }
  #magazine h2 {
    font-size: 14px;
  }
  #magazine p {
    font-size: 14px;
  }
  #sort_cate ul li {
    font-size: 12px;
  }
  .btn_card button {
    padding: 0;
    font-size: 12px;
    height: 40px;
  }
  .fee p {
    font-size: 12px;
  }
  .totals_price {
    font-size: 13px;
  }
  .box_info_product p {
    font-size: 12px;
  }
  .box-price p {
    font-size: 12px;
    color: #dc4e3f;
    text-align: center;
  }
  .quantity_block a {
    padding: 1px 5px;
  }
  .layout-flex {
    font-size: 10px;
    align-items: flex-end;
  }
  .field input {
    height: 35px;
  }
  .section_content .field:last-child input {
    height: 45px;
  }
  .layout-flex1 h3 {
    font-size: 12px;
  }
  .alert {
    font-size: 10px;
  }
  .radio_wrapper p {
    font-size: 10px;
  }
  .sidebar_header h3 {
    font-size: 16px;
  }
  .product__description p {
    font-size: 10px;
  }
  .product__price {
    font-size: 10px;
  }
  .discount_code .field input {
    width: 135px;
  }
  .spinner-label {
    padding: 2px 20px;
    font-size: 12px;
  }
  .total_line p {
    font-size: 12px;
  }
  .total p {
    font-size: 14px;
  }
  .total strong {
    font-size: 16px;
  }
  .order p {
    font-size: 12px;
  }
  .form_group input {
    height: 45px;
  }
  .cart_mb {
    display: none;
  }
  #details_product h2 {
    font-size: 20px;
  }
  #details_product h3 {
    font-size: 20px;
  }
  .btn_mua button {
    min-width: 312px;
  }
  .item_service h4 {
    font-size: 12px;
    line-height: 18px;
  }
  #details_product p {
    font-size: 12px;
  }
  #details_product {
    padding: 10px 0;
  }
  #tabs_title .mota {
    font-size: 12px;
    padding: 12px;
  }
  #tabs_title .chinhsach {
    font-size: 12px;
    padding: 12px;
  }
  #detail {
    font-size: 12px;
  }
  .home-title h2 {
    font-size: 22px;
    padding: 20px 0 30px 0;
  }
}
@media (max-width: 740px) {
  .evo-article-toolbar {
    margin-bottom: 30px;
  }
  .evo-article-toolbar {
    font-size: 14px;
  }
  .evo-article-toolbar-right {
    margin-top: 10px;
  }
  .evo-article-toolbar {
    display: block;
  }
  .article-details p {
    font-size: 14px;
  }
  .evo_article .postby {
    font-size: 12px;
  }
  .evo_article h1 {
    font-size: 22px;
  }
  .article-details p img {
    max-width: 100%;
    height: 50%;
  }
  .cart_mb {
    display: none;
  }
  #tab {
    display: none;
  }
  .textHotile {
    display: none;
    margin-top: 0;
  }
  .cart {
    margin-top: 5px;
    font-size: 12px;
  }
  /* .headerall {
    position: relative;
  } */
  /* #header {
    padding-bottom: 10px;
  } */
  #slider-banner {
    margin: 0;
    padding: 0;
  }
  #new_product h2 {
    font-size: 14px;
  }

  #new_product {
    padding: 20px;
  }
  .viewallcat {
    font-size: 12px;
  }
  .viewallcat a {
    padding: 0 5px;
  }
  .middle {
    padding: 0;
  }
  .btn {
    padding: 10px 5px;
    font-size: 10px;
    min-width: 180px;
    letter-spacing: 0.5px;
  }
  .product_portfolio_mobie {
    margin-bottom: 70px;
  }
  .product_card_text h4 {
    font-size: 12px;
  }
  .product_card_text h3 {
    font-size: 12px;
  }
  #product_portfolio {
    padding-bottom: 0;
  }
  .new_product_mobie {
    margin-top: 30px;
  }
  .magazine_img img {
    height: 100%;
    width: 100%;
  }
  #magazine p {
    font-size: 12px;
    padding-bottom: 10px;
  }
  #magazine h2 {
    font-size: 12px;
  }
  #magazine {
    padding-bottom: 5px;
  }
  .footer_logo img {
    max-width: 45%;
    max-height: 100%;
  }
  .text_footer p {
    line-height: 12px;
    font-size: 12px;
  }
  .footer_logo {
    padding: 15px 0 0 0;
  }
  .text_footer h3 {
    padding-bottom: 15px;
  }
  .text_footer {
    padding: 10px 0 0 0;
  }
  .icon img:last-child {
    padding-right: 6.5px;
  }
  .icon img {
    min-width: 10.8%;
  }
  .icon {
    padding-bottom: 30px;
  }
  .banner_ao {
    padding-top: 0;
  }
  .logo img {
    max-width: 90%;
  }
  #path {
    padding-top: 0px;
  }
  .product_card1 form {
    display: none;
  }
  .product_card_img :hover {
    transform: scale(1);
    opacity: 1;
  }
  .product_card1:hover .product_card_text {
    opacity: 1;
  }
  #sort_cate {
    display: none;
  }
  .pagination_container a {
    padding: 3px 8px;
  }
  .pagination_container a:nth-child(1) {
    padding: 2px 8px;
  }
  .cart_submitpc {
    display: none;
  }
  .cart_submitmobile {
    display: block;
  }
  .cart_submit {
    padding: 0 10px;
  }
  .text_path {
    font-size: 12px;
  }
  #shopping_card h3 {
    font-size: 20px;
  }
  #shopping_card h3 span {
    font-size: 12px;
  }
  .box_info_product p {
    font-size: 12px;
  }
  .box-price p {
    font-size: 12px;
    text-align: center;
  }
  .quantity_block a {
    padding: 0px 4px;
  }
  .fee p {
    font-size: 12px;
  }
  .totals_price {
    font-size: 14px;
  }
  .btn_card button {
    font-size: 12px;
    height: 35px;
  }
  .information_logo {
    text-align: center;
  }
  .social_login img {
    margin-top: -15px;
  }
  .text_path {
    font-size: 10px;
  }
  #login h1 {
    font-size: 20px;
  }
  .form_group label {
    font-size: 10px;
  }
  .form_group input {
    font-size: 12px;
    height: 40px;
  }
  #login h5 {
    font-size: 12px;
  }
  #login p {
    font-size: 10px;
  }
  .fix-sblock {
    font-size: 12px;
  }
  .magazine_mobile {
    display: block;
  }
  .magazine_text {
    display: none;
  }
  .btn_mua button {
    min-width: 100%;
  }
  #details_product h2 {
    font-size: 22px;
  }
  #details_product h3 {
    font-size: 22px;
  }
  #details_product p {
    font-size: 12px;
  }
  .item_service h4 {
    font-size: 12px;
  }
  #detail {
    font-size: 12px;
  }
  .home-title h2 {
    font-size: 22px;
    padding: 20px 0 30px 0;
  }
  .related_products {
    padding: 0px;
  }
  #evo-list-blog-page .magazine_text {
    display: block;
  }
  #evo-list-blog-page h2 {
    font-size: 12px;
  }
  #evo-list-blog-page p {
    font-size: 12px;
  }
}

/*nav mobie */
.nav_bars_btn i {
  font-size: 22px;
  display: none;
}
.nav_overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  animation: fadeIn linear 0.2s;
}
.nav_mobie {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  max-width: 100%;
  background-color: #fff;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform linear 0.2s, opacity linear 0.2s;
}
.nav_mobie_list {
  float: left;
  width: 300px;
  max-width: 100%;
}
.nav_mobie_list li {
  display: block;
  padding: 10px 15px;
  font-size: 13px;
  border-bottom: 1px solid #e1e1e1;
}
.nav_mobie_list li i {
  float: right;
}
.sub-menu_mobie {
  display: none;
}
.nav__input1:checked ~ .sub-menu_mobie {
  display: block;
}
.nav__input2:checked ~ .sub-menu_mobie {
  display: block;
}
.nav__input3:checked ~ .sub-menu_mobie {
  display: block;
}
.nav__input:checked ~ .nav_overlay {
  display: block;
}
.nav__input:checked ~ .nav_mobie {
  opacity: 1;
  transform: translateX(0%);
}
.sub-menu_mobie li:hover {
  background-color: #e1e1e169;
}
.nav_mobie_list i {
  padding: 5px 10px;
}
@media (max-width: 1023px) {
  .nav_bars_btn i {
    display: block;
  }
  .textHotile {
    display: none;
  }
  #tab {
    display: none;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 80%;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close1 {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -10px;
}

.close1:hover,
.close1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 10px;
  background-color: #fff;
  color: black;
  font-size: 14px;
  border-bottom: 1px solid #e5e5e5;
  letter-spacing: 1.5px;
  font-weight: 700;
}
.modal-header span:last-child {
  color: #dc4e3f;
}
.title-quantity-popup {
  padding: 10px;
  background-color: #fff;
  color: black;
  font-size: 14px;
  letter-spacing: 1.5px;
  font-weight: 700;
}
.title-quantity-popup span {
  color: #dc4e3f;
}

.thead-popup {
  background: #f7f7f7;
  float: left;
  width: 100%;
  clear: both;
  padding: 10px;
  display: flex;
}

.tbody-popup {
  width: 100%;
  clear: both;
  max-height: 280px;
  overflow-x: auto;
  border: 1px solid #f7f7f7;
  border-top: none;
}
.item-popup {
  width: 100%;
  display: flex;
  clear: both;
  border-bottom: 1px dotted #ddd;
  padding: 0 10px;
}
.item-image {
  padding: 10px;
  float: left;
}
.item-popup > div {
  float: left;
}
.item-info {
  padding: 10px 0;
  padding-left: 100px;
}
.item-price {
  padding: 10px;
  text-align: center;
}
.item-name a {
  display: block;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 14px;
  color: #1c1c1c;
  letter-spacing: 1px;
}
.variant-title-popup {
  font-size: 13px;
  margin-bottom: 5px;
  color: #333333;
}
.item-remove a {
  font-size: 11px;
  color: #bfbfbf;
  letter-spacing: 1px;
}
.add_sus {
  font-size: 12px;
}
.cart-price {
  display: block;
  font-weight: 500;
  padding: 10px;
  text-align: center;
}
#myModal .quantity_block {
  padding: 13px 10px;
}
#myModal .quantity_block a {
  padding: 2px 6px;
}
.tfoot-popup {
  width: 100%;
}
.tfoot-popup-1 {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.pull-right {
  font-size: 16px;
  font-weight: 500;
}
.pull-right span {
  color: #dc4e3f;
}
.pull-left a {
  color: #0657a3;
  text-decoration: none;
}
.pull-left a:hover {
  color: #dc4e3f;
}
.tfoot-popup-2 {
  padding: 10px;
  text-align: center;
}
.btn-proceed-checkout {
  background: #1c1c1c;
  display: block;
  padding: 10px;
  text-align: center;
  border-radius: 0px;
  color: #fff;
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.2px;
}
.btn-proceed-checkout:hover {
  background: #dc4e3f;
}

.modal_mobile {
  display: none;
}
.modal-title-mobile span {
  width: 44px;
    height: 44px;
    border-radius: 100%;
    font-size: 23px;
    text-align: center;
    line-height: 44px;
    color: #1c1c1c;
    position: absolute;
    left: 5px;
    top: 5px;
    display: block;
    background-color: #fff;
}
.modal-header-mobile{
  padding: 20px;
  background: #000;
  color: #fff;
  width: 100%;
}
.modal-header-mobile h4 {
  margin-left: 35px;
}
.modal-header-mobile .close1 {
  color: #fff;
}
.media {
  display: flex;
  padding: 7px;
}
.media .media-left {
  padding-right: 1em;
}
.media-body .product-title {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-weight: 500;
}
.media-body .product-new-price span {
  color: #dc4e3f;
}
.btn-outline-red {
  background: #fff;
  color: #1c1c1c;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 13px;
  line-height: normal;
  padding: 0px 15px;
  border-radius: 0px;
  border: 1px solid #1c1c1c;
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;
  display: inline-block;
    height: 40px;
    min-width: 100%;
    line-height: 40px;
}
.modal-footer-mobile {
  padding: 7px;
}
.btn-red {
  color: #fff;
  background: #1c1c1c;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 13px;
  line-height: normal;
  padding: 0px 15px;
  border-radius: 0px;
  border: 1px solid #1c1c1c;
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;
  display: inline-block;
    height: 40px;
    min-width: 100%;
    line-height: 40px;
}

#path1 .grid {
  padding: 15px;
  border-top: 1px solid #85858525;
  border-bottom: 0.5px solid #85858525;
}

/* mà hình PC*/
@media (min-width: 1113px) {
  .modal-content {
    margin-top: 50px;
  }
  .modal-content {
    width: 60%;
  }
  .cart1:hover  a{
    color: #dc4e3f;
  }
  .use:hover  a{
    color: #dc4e3f;
  }
  .path {
    margin-top: 112px;
  }
  #pagination {
    margin-top: 30px;
}
.path_dn {
  margin-top: 114px;
}
.path_dk {
  margin-top: 114px;
}
#path .pathsp {
  margin-top: 114px;
}
#path1 {
  margin-top: 131px;
}
}
@media (min-width: 740px) and (max-width: 1023px) {
  #path1 {
    padding-top: 55px;
}
  .modal-header {
    font-size: 12px;
    letter-spacing: 0;
  }

  .thead-popup {
    font-size: 12px;
  }
  .tbody-popup {
    font-size: 12px;
  }
  .tfoot-popup-1 {
    font-size: 12px;
  }
  .pull-right {
    font-size: 14px;
  }
  .cart1:hover  a{
    color: #dc4e3f;
  }
  .use:hover  a{
    color: #dc4e3f;
  }
  #information {
    /* padding: 0em 2em 0 2em; */
    margin-top: 89px;
}
}
#pagination {
  margin-top: 20px;
}
@media (max-width: 740px) {
  #path1 .grid {
    margin-top: 50px;
}
.modal_mobile {
  display: block;
  margin-top: -40px;
  min-width: 100%;
}
.modal_pc {
  display: none;
}
#path .grid {
  margin-top: 50px;
}
#header {
  margin-bottom: 0px;
  padding-bottom: 10px;
}
.banner_ao img {
  margin-top: 50px;
}
#slider-banner {
  margin-top: 47px
}
#information {
  /* padding: 0em 2em 0 2em; */
  margin-top: 62px;
}
#pagination {
  margin-top: -10px;
}
}



.headerall {
  box-shadow: 2px 0px 10px rgb(54 54 54 / 30%);
}
.text_footer strong {
  padding: 0;
}
 .payment-list {
   flex-wrap: wrap;
 }
