.logo img {
    max-width: 80%;
}
.logo{
    text-align: center;
}
.logofooter img {
    max-width: 92%;
}
.footer p {
    font-weight: 400;
}
@media (max-width: 740px) {
    .logofooter{
        max-width: 50%;
        text-align: center;
    }
}